<% provide(:title, 'Workout') %>
<h1>Workout</h1>

<p>
  <strong>Name:</strong>
  <%= @workout.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @workout.description %>
</p>

<table class ="table">
  <thead>
    <tr>
      <th>Exercises</th>
	  <th> </th>
  </thead>
    <tbody>
	<% @workout.exercises.each do |exercise| %>
		<tr>
			<td>
				<%= link_to exercise.name, exercise_weight_logs_path(exercise)%>
			</td>
			<td>
				Sets performed today: <%= exercise.liftsToday.to_s %>
			</td>
		</tr>
		</tbody>
	<% end %>
</table>

</br>
<%= link_to 'Edit Workout', edit_workout_path(@workout) %> |
<%= link_to 'All Workouts', workouts_path %>
