<% provide(:title, @user.name) %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
    </section>
  </aside>
</div>
<p>
  <strong>Email:</strong>
  <%= @user.email %>

</p>

</br>
<p>We use <a href="https://en.gravatar.com/" target="blank">Gravatar</a> for profile images.
</p>
</br>
<% if current_user?(@user) %>
	<%= link_to "Edit Profile", edit_user_path(current_user) %>
	</br>
	</br>
<% end %>


<%= link_to 'Back', root_path %>
