<%= form_for([@exercise,@weight_log]) do |f| %>
  <% if @weight_log.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@weight_log.errors.count, "error") %> prohibited this weight_log from being saved:</h2>

      <ul>
      <% @weight_log.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :weight %><br>
    <%= f.number_field :weight, options={min:0, step:0.5}%>
  </div>
  <div class="field">
    <%= f.label :reps %><br>
    <%= f.number_field :reps, options={min:0} %>
  <div class="actions">
	</br></br>
    <%=  f.submit "Save", class: "btn btn-default"%>
  </div>
<% end %>
