<% provide(:title, 'All Logs') %>

<script>
	$(document).ready(function(){
		$('textarea').autosize();   
	});
</script>

<h1>All logs for <%= @exercise.name %> </h1>
   <strong>Notes:</strong>
	<%= text_area :exercise , :notes, disabled:'disabled'%>
	
	</br>
<table class="table">

	<tr>
		<td><strong>Weight</td>
		<td><strong>Reps</td>
		<td><strong>Estimated </br>1 Rep Max </td>
		<td><strong>Weight<br> per side </td>
		<td><strong>Date Lifted</td>
		<td><strong>Action</td>
	</tr>
	
		<%= render @weight_logs %>

</table>

<center>
<%= will_paginate %></center>
</br>

<center>    
<%= link_to 'New Log', new_exercise_weight_log_path(@exercise), class: "btn btn-default" %>
</center>

	<%= link_to 'Back to Workout', current_location_path(workouts_path) %>
<br>
<br>
	<%= link_to 'Back to Exercises', exercises_path %>
