<!DOCTYPE html>
<html>
	<head>
	  <title><%= full_title(yield(:title)) %> </title>
	  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
	  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
	  <%= csrf_meta_tags %>
	  <!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	  <![endif]-->
	</head>
	<body>

		  <nav class="navbar navbar-inverse" role="navigation">
			<div class="container-fluid">
			  <%= link_to "Simple Exercise Tracker", "#", id: "logo" %>
			  <nav>
				<ul class="nav navbar-nav">
				  <li><%= link_to "Home",    		"#" %></li>
				  <li><%= link_to "Exercises",    	"#" %></li>
				  <li><%= link_to "Workout Log", "#" %></li>
				</ul>
			  </nav>
			</div>
		  </nav>
		<div class="container">
		  <%= yield %>
		</div>
	</body>
</html>
